body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5babb;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: #fff5f2;
  padding: 2em 0;
}

form {
  display: flex;
  flex-direction: column;

  margin-top: 0;
}

.form--inner--container {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr;
  gap: 0;
  padding: 0 1em;
}

.h1--container {
  display: flex;
  padding-bottom: 3em;
}
h1 {
  color: #064232;
  font-size: 1.7rem;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-decoration: underline #568f87 0.1em;
}
h2 {
  margin-bottom: -1em;
}

.circle {
  border: 0.8em #568f87 solid;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  color: #064232;
}

.semester {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  padding: 1em 0.8em;
}

.semester--1 {
  padding: 0.1em 0;
}

.semester--1 button {
  background-color: #fff5f2;
  color: #064232;
  border: 0.11em solid #064232;
  padding: 0.9em;
}

.semester--1 img {
  width: 15%;
  padding-left: 1em;
  position: relative;
  bottom: -0.3em;
}

.add--semester {
  display: flex;
  justify-content: space-between;
  /* width: max-content; */
  /* justify-self: right; */
  padding: 3em 1em 1em 1em;
  /* border: 1em solid green; */
}

.analysis {
  text-align: right;
  padding-right: 2em;
  color: #064232;
}

.analysis h4 {
  font-size: 1.4rem;
}

#sgpa {
  font-size: 1.7rem;
  text-align: left;
  padding: 0.67em;
  line-height: 0;
}

.classless {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  padding-right: 2.5em;
  margin-bottom: 0;
  color: #064232;
}

.sgpa {
  color: #568f87;
  font-size: 1.9rem;
}

label {
  color: #568f87;
  font-size: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

input,
select {
  padding: 1em;
  margin-bottom: 0.2em;

  text-transform: uppercase;
}
.course--container input {
  width: 80%;
}

.credits--container input {
  width: 60%;
}

.delete--field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}

a {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

button {
  color: #fff5f2;
  background-color: #064232;
  font-size: 1rem;
  padding: 1em;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
}

.buttons {
  padding-top: 1.8em;
}

.myBtn:focus,
.myBtn.active {
  background-color: #568f87 !important;
  border: 0 !important;
  color: #fff5f2 !important;
}

hr {
  text-align: center;
  width: 90%;
  border: 0.01em solid #064232;
}

footer button {
  text-align: right;
}

.add {
  background-color: #568f87;
  color: #064232;
  margin-right: 1em;
}

.error {
  border: 2px solid red;
  background-color: #ffecec;
}

.chart--section {
  padding: 2em;
}

.chart--controls {
  display: flex;
  justify-content: space-between;
}

/* Medium screens */
@media (min-width: 768px) {
  .container {
    padding: 4em;
    padding-top: 3em;
  }
  h1 {
    font-size: 3rem;
  }
  .sgpa {
    font-size: 2.7rem;
  }
  .form--inner--container {
    gap: 0;
  }
  label {
    font-size: 2rem;
  }
  .analysis {
    padding: 0 10em;
  }
  .analysis h4 {
    font-size: 2rem;
  }
  .semester--container {
    padding: 1em 5em;
  }
  .container {
    padding-left: 5em;
    padding-right: 5em;
  }
  .classless {
    /* padding-left: 5em; */
    padding-right: 14em;
  }
  .classless h3 {
    font-size: 2rem;
  }
  #sgpa {
    font-size: 3rem;
    text-align: center;
  }
}
